.kenya-map-1 {
  width: 100%;
  position: relative;
  height: 283px;
  background-image: url(./public/kenya-map-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
